*{
    padding: 0%;
    margin: 0%;
    font-family: 'inter', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    display: grid;
    grid-template-areas: 
    "cabeca cabeca cabeca"
    "aside corpo corpo"
    "roda roda roda";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
}
header{
    background-color: #24252a;
    grid-area: cabeca;

}
aside{
    grid-area: aside;
    background-color: #ffffff;
    background-color: #f0f0f0;;
}
main{
    grid-area: corpo;
    background-color: #f0f0f0;
}
footer{
    grid-area: roda;
    background-color: #24252a;
    color: #fff;
}
@media screen and (max-width:800px){
    body{
        grid-template-areas: 
        "cabeca"
        "aside"
        "corpo"
        "roda";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
    
}
@media screen and (max-width:400px){
    body{
        grid-template-areas: 
        "cabeca"
        "corpo"
        "roda";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
}
.boxmae{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 200px;
    height: 250px;
    background-color: #ffffff;
    border-radius: 25px; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;
}
.item:hover{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}
.nav_bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
.logo img{
    display: flex;
    align-items:  center;
    width: 150px;
}
.nav_list{
    display: flex;
    align-items: center;
}
.nav_list ul{
    display: flex;
    justify-content: center;
    list-style:  none;
}
.nav_item{
    margin: 0 15px;
}
.nav_link{
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
}
.login_button button{
    background-color: #0187a7;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
    transition: all .3s ease;
}
.login_button:hover{
    transform: translateY(-5px);
}
.login_button button a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
}
footer img{
    width: 30px;
    margin:  10px 10px;
}

