@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* Importaçao de uma font do google */

/* Definindo variáveis CSS para cores  */
:root {
    --cor-primaria: #f0f0f0;
    --cor-secundaria: #24252a;
}
/* comfiguraçoes gerais */
* {
    padding: 0%;
    margin: 0%;
    font-family: 'Inter', sans-serif;
}

/* Estiliza o corpo da página */
body {
    /* Define a estrutura da página usando um layout de grade */
    display: grid;
    grid-template-areas: 
        "cabeca cabeca cabeca"
        "aside corpo corpo"
        "roda roda roda";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
}

/* Estilos para links */
a {
    color: var(--cor-primaria);
    text-decoration: none;
}
/* Estilos do cabeçalho */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-secundaria);
    padding: 1rem;
}
/* Estiliza o cabeçalho da página */
header {
    background-color: #24252a; /* Define a cor de fundo */
    grid-area: cabeca; /* Define a área na grade */
}

/* Estiliza a barra lateral */
aside {
    grid-area: aside; /* Define a área na grade */
    background-color: #f0f0f0; /* Define a cor de fundo */
    padding: 15px;
}

/* Estiliza o conteúdo principal */
main {
    grid-area: corpo; /* Define a área na grade */
    background-color: #f0f0f0; /* Define a cor de fundo */
}

/* Estiliza o rodapé */
footer {
    grid-area: roda; /* Define a área na grade */
    background-color: #24252a; /* Define a cor de fundo */
    color: #fff; /* Define a cor do texto */
}

/* Estilo da logo */
header img {
    display: flex;
    align-items:  center;
    width: 150px;
}

/* Estilos do menu */
.menu {
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

/* Estilos dos links do menu */
.menu a {
    padding: 1rem;
    display: block;
    border-radius: 0.5rem;
}

/* Efeito hover para os links do menu */
.menu a:hover {
    background-color: rgb(27, 26, 26);
}
/* Escondendo checkbox e label para o menu até a resolução adequada */
.label-menu, 
.checkbox {
    display: none;
}

/* Estilos específicos para telas menores que 550px */
@media screen and (max-width: 400px) {
    /* Configuração do menu para dispositivos móveis */
    .menu {
        display: none; /* Menu escondido por padrão */
        position: absolute;
        top: 4.6875rem;
        left: 0;
        background-color: var(--cor-secundaria);
        text-align: center;
        width: 100%;
        height: 0;
        z-index: 2;
        visibility: hidden;
        overflow-y: hidden;
        transition: height 0.5s, visibility 0.5s;
    }

    /* Estilos dos links do menu para dispositivos móveis */
    .menu a {
        padding: 1rem 0;
        margin-inline: 1rem;
        border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
        border-radius: 50px;
    }

    /* Estilos do label para o menu */
    .label-menu {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--cor-primaria);
        padding-block: 1rem;
        cursor: pointer;
    }

    /* Estilos do ícone de hamburguer */
    .hamburguer {
        border-top: 0.125rem solid;
        width: 1.25rem;
        color: var(--cor-primaria);
    }

    /* Estilos das linhas do ícone de hamburguer */
    .hamburguer::before,
    .hamburguer::after {
        content: "";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: currentColor;
        margin-top: 0.3125rem;
        position: relative;
        transition: transform 0.3s;
    }

    /* Menu visível quando checkbox está checado */
    .checkbox:checked ~ .menu {
        display: block;
        height: calc(100vh - 4.6875rem);
        visibility: visible;
        overflow-y: auto;
    }

    /* Animação do ícone de hamburguer quando menu está aberto */
    .checkbox:checked ~ .label-menu .hamburguer {
        border-top-color: transparent;
    }
    .checkbox:checked ~ .label-menu .hamburguer::before {
        transform: rotate(135deg);
    }
    .checkbox:checked ~ .label-menu .hamburguer::after {
        transform: rotate(-135deg);
        top: -0.4375rem;
    }
}
@media screen and (max-width:800px) {
    body {
        /* Adapta a estrutura da página para telas menores */
        grid-template-areas: 
            "cabeca"
            "aside"
            "corpo"
            "roda";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
}
aside img{
    border-radius: 15px;
    width: 50%;
    height: 100%;
}
.botao {
    min-width: 130px;
    height: 40px;
    color: var(--cor-primaria);
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid var(--cor-secundaria);
    background: var(--cor-secundaria);
  }
  .botao:hover {
    background: var(--cor-primaria);
    color: var(--cor-secundaria);
  }
/* Modificaçao do rodapé */
footer {
    background-color: var(--cor-secundaria);
    color: #fff;
    padding: 50px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-col {
    flex: 1;
    margin: 0 20px;
}

.footer-col h3 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}
.footer-col p {
    color: #ccc;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: #ccc;
    text-decoration: none;
}

.footer-col ul li a:hover {
    color: #fff;
}
/* Fim rodapé */